# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Pytest / cobertura
.pytest_cache/
.cache/

# Reportes Allure
allure-results/
allure-report/
allure-history/

# IDE / SO
.idea/
.vscode/
.DS_Store
Thumbs.db
